
body{
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */
}
*{
    margin: 0;
   padding: 0; 
  
   box-sizing: border-box;
   font-family: 'Courier New', Courier, monospace;


}
.bx-shopping-bag{
  width: 100px;
  color: #fff;
}
nav{
   /* box-sizing: border-box;
  border:2px solid rgb(255,47,165); */
  background-color: #757373;
  position: fixed;
  /* display: flex; */
  top: 0;
  left:0;
  width: 100%;
  color: #fff;
  /* align-items: center; */
  
}
nav h2{
  margin-left: 10px;
  cursor: pointer;
  color: black;

}
nav h2 span{
  font-style: italic;
color: yellow;

}
nav ul{
  flex: 1;
  text-align: center;


}
nav ul li{
  display: inline-block;
  margin: 10px 20px;
  /* padding: 4px;    */

}
nav ul li a{
  text-decoration: none;
  color: #000;

}
nav ul li a:hover{
  padding: 12px;
  background-color: rgb(255,47,165);
  transition: 1s;

}
.btn{
  /* margin-right: -20px; */
  margin-left:100px;
}
nav.btn{
  color:#000;
  /* text-decoration: none;
  margin-right: 5px; */
  padding: 10px;
  /* box-sizing: border-box;
  padding: 12px; */
  background-color:rgb(255,47,165) ;


}
.content h1{
  position: absolute;
  margin-top: 17%;
  margin-left: 5%;
  color: #fff;
  font-size: 50px;

}
.content span{
  color: #000;
}


      .gad{
        margin-left: 100px;
      }

      .up{
        padding: 12px;
        background-color: yellow;
        border: transparent;
      }
      .ups{
        padding: 12px;
      
        border: rgb(245, 243, 238);
      }
     .ox{
      width: 30px;
     }
     .box{
      
      border: solid 0.5px;
      width: 120px;
     }

     .cat{
      display: grid;
      grid-template-columns: repeat(2,1fr);
     }
     .tex{
      margin-left: -500px;
     }

     .girl{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      background: linear-gradient(to right, rgb(183, 182, 221), rgb(212, 124, 212));
      margin-left: 10%;
      margin-right: 10%;

      
  }
  .that{
      margin-top: 100px;
      padding-left: 50px;
  }
  
  h3{
      font-size: 50px;
  }
  
  .dis{
      background-color: palevioletred;
      padding: 12px;
  }
  
  .week{
     text-align: center;
  }
  .one{
      width: 205px;
      height: 300px;
     
  }
.weep{
  height: 80%;
  width: 100%;
}
.icons{
  display: grid;
      grid-template-columns: repeat(6,1fr);
      font-size: small;
     
     
}

.icons img{
  width: 90px;
  height: 90px;
 
}
.mobile{
  border: solid 2px whitesmoke;
}
.pad{
  border: solid 2px whitesmoke;
}
.pods{
  border: solid 2px whitesmoke;
}
.tv{
  border: solid 2px whitesmoke;
}
.usb{
  border: solid 2px whitesmoke;
 
  
}
.laptop{
  border: solid 2px whitesmoke;
}

.cam{
  width: 10%;


} 
.pro{
  background: linear-gradient(to right, rgb(183, 182, 221), rgb(212, 124, 212));
 
}
.head{
  display: grid;
      grid-template-columns: repeat(2,1fr);
}

.rectangle {
  position: relative;
  width: 450px;
  height: 200px;
  background: linear-gradient(to right, darkblue, skyblue);
  color: white;
  text-align: left;
  padding: 20px;
  font-size: 18px;
  margin-left: 10%;
}
.rectangle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.rectangle .overlay-text {
  position: relative;
  z-index: 1;
  font-size: 40px;
}
.rectangle .overlay-text p{
  font-size: 15px;
}
.rectangle .overlay-text span {
  font-size: 30px;
  font-weight: bold;
  display: block;
}
.tex{
  width: 160%;
}
.rectangle .overlay-text sub {
  font-size: 15px;
}
.rectangle .product-image {
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 18%;
}
.rectangle .product-image2 {
  display: block;
  width: 10px;
  height: 10px;
  margin-top: 28%;
}
.rectangle .product-description {
margin-left: 2%;
}
.rectangle2{
  position: relative;
  width: 450px;
  height: 200px;
  background: linear-gradient(to right, lightpink, lightgrey);
  color: white;
  text-align: left;
  padding: 20px;
  font-size: 18px;
  margin-left: 52%;
  margin-top: -13em;
}
.rectangle2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.pad:hover {
background-color: #000;

}

.pad:hover p{
  color: #F1F1F1;
}
.rectangle2 .overlay-text {
  position: relative;
  z-index: 1;
  font-size: 40px;
}
.rectangle2 .overlay-text p{
  font-size: 15px;
}
.rectangle2 .overlay-text span {
  font-size: 30px;
  font-weight: bold;
  display: block;
}
.rectangle2 .product-description {
margin-left: 2%;
}
.Headphones{
  width: 10px;
}

/* start of footer */
.footer{
  color: white;
  background-color: #757373;
justify-content: space-between;
display: flex;
padding: 80px;

}

#co{
  display: inline-flex;
  font-size: larger;
  color: white;
}
#Home{
  color: yellow;
}
   
.mail{
  padding: 30px;
  background-color: yellow;
  border:none;
  width: 90%;
}
.bx-send{
  margin-left: -30px;
}
.bx-headphone{
 width: 8%;
}
.line-container {
  position: relative;
}

.line {
  height: 2px;
  background-color: #000;
  width: 50%; 
  margin-left: 100px;
  margin-right: 10px;
  position: relative;
  left: 100px;
}
.line:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
  width: 90px;
  height: 2px;
}
.yellow{
  display: grid;
      grid-template-columns: repeat(3,1fr);
}
.two{
  margin-left: 40px;
}
.test{
  text-align: center;
}
.zu{
  margin-left: 600px;
  margin-top: -150px;
  

}
.men img{

 border-radius: 6px;

}

/* end of footer */

.product-card {
  width: 300px;
  margin-bottom: 20px;
  background-color: #F1F1F1;
  padding: 10px;
}
.deals{
  display: flex;
  gap: 20px;
  margin-left: 4%;
}
.deals h3{
  margin-left: 13%;
}
.deals h4{
  background-color: black;
  color:yellow;
}
.deals h5{
  font-size: 30px;
}
.product-card img {
  width: 100%;
  height: auto;
}
.product-card h2 {
  font-size: 18px;
  margin: 10px 0;
}
.productPrice {

  align-items: center;
  display: grid;
  grid-template-columns: repeat(4,2fr);

}

.productPrice button {
  background-color: yellow;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}



#allContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  

} 




